<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Launch Image Picker And Activity View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9BE60031D0B59AA008AF79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9BE60171D0B59AA008AF79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9BE60221D0B59AA008AF79E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
